{% extends 'base.html' %} {% block content %}

<!-- body -->

<div class="container ms-2">
  <div class="row">
    <!-- LEFT SIDE -->

    {% if user %}
    <div class="col-3 mt-4">
      <h2>{{ user.first_name}}{{user.last_name}}</h2>
      <ul class="list-group">
        <li class="list-group-item"><a href="/profile/">Profile</a></li>
        <li class="list-group-item"><a href="/profile/">Posts</a></li>
        <li class="list-group-item"><a href="/friends/">Friends</a></li>
      </ul>
    </div>
    {% endif %}

    <!-- MIDDLE POSTS -->
    <div class="col-6 mt-4">
      <div class="frnd-req">
        <h1>Friend requests</h1>
        {% if not received_reqs %}
        <h6>You have no friend requests yet.</h6>
        {% else %} {% for received_req in received_reqs %}
        <div class="card mt-4 friend-req-card" style="width: 36rem">
          <div class="card-body">
            <h5 class="card-title">
              <form action="/otheruserprofile/" method="post">
                {% csrf_token %}
                <input
                  hidden
                  type="text"
                  name="otheruser"
                  value="{{ received_req.user.id }}"
                />
                <button
                  type="submit"
                  style="border: none; background-color: transparent"
                >
                  {{ received_req.user.first_name }} 
                  {{ received_req.user.last_name }}
                </button>
              </form>
            </h5>
            <div class="card-body">
              <button
                class="btn btn-primary accept-btn friend-req-action-btn"
                data-received-req-id="{{ received_req.id }}"
                data-action="accept">
                <h6>Accept</h6>
              </button>

              <button
                class="btn btn-secondary reject-btn friend-req-action-btn"
                data-received-req-id="{{ received_req.id }}"
                data-action="reject">
                <h6>Reject</h6>
              </button>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>

      <!-- friends -->

      <div class="col-6 mt-4">
        <h1>Friends</h1>
        {% if not friends %}
        <h6>You have no friend yet</h6>
        {% else %} {% for friend in friends %}
        <div class="card mt-4" style="width: 36rem">
          <div class="card-body">
            <h5 class="card-title">
              <form action="/otheruserprofile/" method="post">
                {% csrf_token %}
                <input
                  hidden
                  type="text"
                  name="otheruser"
                  value="{{ friend.friend.id }}"
                />
                <button
                  type="submit"
                  style="border: none; background-color: transparent"
                >
                  {{ friend.friend.first_name }} {{ friend.friend.last_name }}
                </button>
              </form>
            </h5>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>

      <!-- friends suggestion -->
      <div class="frnd-sugg">
        <h1>Friend Suggestions</h1>
        {% for friend_sugg in friend_suggs %} 
        {% if friend_sugg.id not in received_req_ids %}
        {% if friend_sugg.id not in friends_ids %}
        <div class="card mt-4" style="width: 36rem">
          <div class="card-body">
            <h5 class="card-title">
              <form action="/otheruserprofile/" method="post">
                {% csrf_token %}
                <input
                  hidden
                  type="text"
                  name="otheruser"
                  value="{{ friend_sugg.id }}"
                />
                <button
                  type="submit"
                  style="border: none; background-color: transparent"
                >
                  {{ friend_sugg.first_name }} {{ friend_sugg.last_name }}
                </button>
              </form>
            </h5>
          </div>
        </div>
        <div class="card-body mt-2">
          {% if friend_sugg.id in requests_sent_to %}
          <button
            class="btn btn-secondary friend-req-btn m-2"
            data-other-user-id="{{ friend_sugg.id }}"
          >
            <h6>Requested</h6>
          </button>
          {% else %}
          <button
            class="btn btn-primary friend-req-btn m-2"
            data-other-user-id="{{ friend_sugg.id }}"
          >
            <h6>Add as friend</h6>
          </button>
          {% endif %}
        </div>
        {% endif %}
        {% endif %} {% endfor %}
      </div>
      {% endblock %}
    </div>
  </div>
</div>
