<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>Social Network</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/style.css"/>
  </head>

  <body display: flex;
    flex-direction: column;>
    <div class="site-container" style=" height: 100vh;">
      <nav class="navbar navbar-expand-lg navbar-custom">
        <div
          class="container-fluid d-flex justify-content-between align-items-center"
        >
          <a class="navbar-brand" href="/">
            <h2>Social Network</h2>
          </a>
          <form
            action="/search/"
            method="GET"
            class="d-none d-md-flex my-2 my-lg-0 search-form ms-auto me-auto"
          >
            <span class="fas fa-search"></span>
            <input
              class="form-control me-2"
              type="text"
              name="search_key"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-sm search-btn me-2 rounded" type="submit">
              Search
            </button>
          </form>

          <div class="d-flex align-items-center">
            <ul class="navbar-nav flex-row">
              <li class="nav-item me-2">
                <a class="nav-link social-icon" href="/"
                  ><i class="fas fa-home"></i
                ></a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link social-icon" href="/friends/"
                  ><i class="fas fa-users"></i
                ></a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link social-icon" href="/notifications/"
                  ><i class="fas fa-bell"></i
                ></a>
              </li>
            </ul>

            {% if request.session.user %}

            <div class="username me-1">
              Hi, {{request.session.user_first_name}}
            </div>

            <div class="dropdown me-5" style="width: 3rem">
              <a
                class="btn"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><img
                  class="profile-icon me-2"
                  src="/static/profile.webp"
                  alt="Profile Picture"
                />
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/profile/">Profile</a></li>
                <li><a class="dropdown-item" href="/friends/">Friends</a></li>
                <li><a class="dropdown-item" href="#">Messages</a></li>
                <li><a class="dropdown-item" href="/logout/">Logout</a></li>
              </ul>
            </div>

            {% else %}
            <a class="nav-link social-icon me-2" href="/login/">Login</a>
            <a class="nav-link social-icon ms-2" href="/signup/">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
