<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Social Network</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-3">
      <h1
        class="text-center fw-bold"
        style="color: darkslateblue;"
      >
        Social Network
      </h1>

      <div class="card p-4 mx-auto" style="max-width: 400px; color: cornsilk; background-color:darkslateblue">
        <form action="/signup/" method="POST">
          {% csrf_token %}
          <h3 class="text-center" style="color: cornsilk">Create a new account</h3>
          <p class="text-center mb-4">It's quick and easy</p>

          {% if error %}
          <h5 class="alert alert-danger text-center">{{ error }}</h5>
          {% endif %}

          {% if message %}
          <h5 class="alert alert-success text-center">{{ message }}</h5>
          {% endif %}

          <!-- first_name -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="id_first_name" class="form-label">First name</label>
              <input
                type="text"
                class="form-control"
                id="id_first_name"
                name="first_name"
                value="{{ value.first_name }} "
              />
            </div>
            <!-- last_name -->
            <div class="col-md-6 mb-3">
              <label for="id_last_name" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                id="id_last_name"
                name="last_name"
                value="{{ value.last_name }} "
                required
              />
            </div>
          </div>
          <!-- gender -->

          <label class="form-check-label">Gender</label>
          <div class="mb-6 d-flex justify-content-evenly">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="genderM"
                value="M"
                required
              />
              {% if values.gender == 'M' %} checked {% endif %}
              <label class="form-check-label" for="genderM">Male</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="genderF"
                value="F"
                required
              />
              {% if values.gender == 'F' %} checked {% endif %}
              <label class="form-check-label" for="genderF">Female</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="genderO"
                value="O"
                required
              />
              {% if values.gender == 'O' %}checked{% endif %}
              <label class="form-check-label" for="genderO">Other</label>
            </div>
          </div>
          <!-- phone -->
          <div class="mb-3">
            <label for="id_phone" class="form-label">DOB</label>
            <input
              type="date"
              class="form-control"
              id="id_phone"
              name="dob"
              required
              value="{{ value.dob }} "
            />
          </div>

          <div class="mb-3">
            <label for="id_phone" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              id="id_phone"
              name="phone"
              required
              value="{{ value.phone }} "
            />
          </div>
          <!-- email -->
          <div class="mb-3">
            <label for="id_email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="id_email"
              name="email"
              required
              value="{{ value.email }} "
            />
          </div>
          <!-- password 1 -->
          <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="id_password"
              name="password"
              value=""
              required
            />
          </div>

          <!-- button -->
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn border col-md-6" style="background-color: darkslateblue; color: cornsilk;">
              Sign Up
            </button>
          </div>
          <a href="/login/" style="text-decoration: none"
            ><p class="text-center mt-2 mb-4" style="color: cornsilk">
              Already have an account?
            </p></a
          >
        </form>
      </div>
    </div>
  </body>
</html>
